%br
%h1 IMT Rules
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Settlement GL Account
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Chargeback GL Account
  .tbody
    - @imt_rules.each do |imt_rule|
      %tr
        %td{:style=>'text-align:left;'}
          = link_to 'Show', imt_rule
        %td{:style=>'text-align:left;'}
          = link_to 'Edit', edit_imt_rule_path(imt_rule)
        %td{:style=>'text-align:left;'}
          = imt_rule.stl_gl_account
        %td{:style=>'text-align:left;'}
          = imt_rule.chargeback_gl_account