#validationText.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Validation Result
    #error_message{:style => 'color:red'}
  .modal-body{:style => "max-height:450px;"}
    .validation_result{:style => 'word-wrap: break-word'}
#settleText.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Settlement Result
    #error_message{:style => 'color:red'}
  .modal-body{:style => "max-height:450px;"}
    .settle_result{:style => 'word-wrap: break-word'}
#returnText.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Return Result
    #error_message{:style => 'color:red'}
  .modal-body{:style => "max-height:450px;"}
    .return_status{:style => 'word-wrap: break-word'}
    .return_result{:style => 'word-wrap: break-word'}
#creditText.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Credit Result
    #error_message{:style => 'color:red'}
  .modal-body{:style => "max-height:450px;"}
    .credit_status{:style => 'word-wrap: break-word'}
    .credit_result{:style => 'word-wrap: break-word'}