%tr
  %td{:style=>'text-align:left;'}
    = "Corporate Customer Id"
  %td{:style=>'text-align:left;'}
    = @incoming_file.ic_incoming_file.try(:corp_customer_id)
%tr
  %td{:style=>'text-align:left;'}
    = "Incoming NEFT/RTGS UTR"
  %td{:style=>'text-align:left;'}
    = @incoming_file.ic_incoming_file.try(:pm_utr)