%br
%h1 Unapproved Records
%br
- unless @records.nil?
  %br
  = will_paginate @records
  %br
  %table.table.table-bordered.table-striped.table-hover
    .thead
      %th{:style=>'text-align:left; background-color: lightblue;'}
        Record Type
      %th{:style=>'text-align:left; background-color: lightblue;'}
        Record Count
    .tbody
      - @records.each do |record|
        %tr
          %td{:style=>'text-align:left;'}
            = record[:record_type]
          %td{:style=>'text-align:left;'}
            - if record[:record_type] == 'IncomingFile'
              = link_to record[:record_count], {:controller => record[:record_type].tableize, :action => :index, :approval_status => 'U', :sc_service => params[:sc_service]}
            - else
              = link_to record[:record_count], {:controller => record[:record_type].tableize, :action => :index, :approval_status => 'U'}