- @title = index_model.model_name.human.pluralize
%h1=@title
%br
= render "#{index_model.model_name.to_s.pluralize.underscore}/advanced_search"
%br

- columns = index_columns
- columns.delete(:customer_id) if current_user.present? && current_user.try(:accessible_customers).try(:count) == 1
.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    #panels.panel.panel-primary
      .panel-body 
        %table.table#transactions_table
          %thead
            %tr
              - columns.each do |column|
                %th= index_model.human_attribute_name(column)
              %th
          %tbody
            - records.each do |transfer|
              %tr
                - columns.each_with_index do |column, i|
                  %td= transfer.send(column.to_s)