- if @rc_transfer.pending_approval == 'Y' and @rc_transfer.notify_status == 'NOTIFICATION FAILED' 
  %a.btn{"data-toggle" => "modal", :href => "#{'#myModal'}", :role => "button", :class => "btn btn-primary"} RETRY NOTIFICATION
  .modal.hide.fade{"id" => "myModal", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel  RETRY NOTIFICATION
      #error_message{:style => 'color:red'}
    .modal-body
      = simple_form_for @rc_transfer, :method=>:put, :html=>{} do |ef|
        = submit_tag "RETRY NOTIFICATION", :class=>"btn btn-primary transition_button", :id => "transition_button"