- can = !(can? :approve_restart, IncomingFile)
= simple_form_for :ic_incoming_record, :url => approve_restart_incoming_file_path(@incoming_file), :html => { :method => :get, :id => 'restart_records', :style=> 'overflow:  auto;display:inline-block;'} do |f| 
  = button_tag "Retry", :id => 'submit_restart', :role => "button", :class => "btn btn-primary", :disabled => can